@import url(root.css);
@import url(/src/app/pages/index/index.js);

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: var(--main-font);
}

header,
#sobre {
  background-color: var(--background-light);
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-rosa);
  /* Navegador bosta - Edge e Explore*/
  scrollbar-width: thin;
  scrollbar-color: var(--main-color) var(--background-light);

}

main {
  display: flex;
  flex-direction: column;
}

#logo {
  margin-right: 20px;
}

.nav {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  padding: 1rem;
  background-color: var(--background-light);
  justify-content: space-between;
  z-index: 1000;
}

.nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
}

.nav ul li {
  display: inline-block;
  padding: 0.5rem;
  position: relative;
}

.nav ul li a {
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--main-color);
  display: block;
  position: relative;
  padding: 4px 0;
}

.nav ul li a::before {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.5s transform ease;
  transform: scale3d(0, 1, 1);
  transform-origin: 0 50%;
}

.nav ul li a:hover::before {
  transform: scale3d(1, 1, 1);
}

.nav ul li a::before {
  background: var(--main-color);
  transform-origin: 50% 50%;
}

.nav.sombra {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1) !important;
  background-color: var(--main-color);
  transition: background-color 0.4s ease-in;
}

.nav.sombra ul li a {
  color: var(--text-light);
}

.nav.sombra ul li a::before {
  background: var(--background-light);
}

.nav ul ul {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  padding: 0;
  margin: 0;
  background-color: var(--main-color);
  box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.1);
}

.nav ul li:hover ul {
  display: block;
}

.nav ul ul li {
  width: 120px;
  float: none;
  display: list-item;
  position: relative;
}

.nav ul ul li a {
  color: var(--text-light);
}

.nav ul ul li a::before {
  background: var(--background-light);
}

.nav.sombra ul ul,
.nav.sombra ul ul li a {
  color: var(--main-color);
  background-color: var(--background-light);
}

.nav.sombra ul ul li a::before {
  background: var(--main-color);
}

#sobre {
  position: relative;
  background-color: var(--background-light);
  height: 450px;
  overflow: auto;
}

#sobre .container {
  margin-top: 10rem;
}

.wave-separador {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave-separador svg {
  position: relative;
  display: block;
  width: calc(170% + 1.4px);
  height: 175px;
}

.wave-separador,
.shape-fill {
  fill: var(--main-color);
}

footer {
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--main-color);
}

footer .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer .colunas {
  padding: 25px;
  margin: auto;
}

footer .colunas .sociais-links {
  font-size: 25px;
  color: var(--text-light);
}

footer .colunas .infos a,
footer .colunas .sociais-links a {
  color: inherit;
  margin-right: 8px;
  margin-left: 8px;
  text-decoration: none;
}

footer .colunas .infos a:hover,
footer .colunas .sociais-links a:hover {
  color: #282828;
}

footer .colunas .infos {
  font: bold;
  font-size: 17px;
  color: var(--text-light);
}

footer .copyright {
  padding: 5px;
  font-size: 15px;
  color: #242424;
  text-align: center;
}

.footer-separador {
  margin-bottom: 0;
  line-height: 0;
  width: 100%;
  height: 5vw;
  rotate: 180deg;
  background: url('/src/assets/img/background/footer.svg') no-repeat center center;
  background-size: cover;
}