@import url(root.css);

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: var(--main-font);
}

header,
#sobre {
  background-color: var(--background-light);
  margin: 0;
  padding: 0;
}

body {
  /* Navegador bosta - Edge e Explore*/
  scrollbar-width: thin;
  scrollbar-color: var(--main-color) var(--background-light);
  background-color: var(--background-color);
  font-family: Arial, sans-serif;
  font-size: large;
  color: var(--text-color);
}

p {
  display: block;
  margin-block-start: 0.5em;
  margin-block-end: 1px;
  color: var(--text-color);
}

ul li a {
  color: var(--link-color);
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
}

#logo {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 20px;

/* Estilo do Topbar */
.top-bar {
  top: 0;
  width: 100%;
  position: sticky;
  padding: 20px 10px;
  background-color: var(--main-color);
  z-index: 1000;
}

section>.container>h2,
section>.container>p {
  margin: 0 20px 0 20px;
}

.nav {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  padding: 1rem;
  background-color: var(--background-light);
  justify-content: space-between;
  z-index: 1000;
}

.nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
}

.nav ul li {
  display: inline-block;
  padding: 0.5rem;
  position: relative;
}

.nav ul li a {
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--main-color);
  display: block;
  position: relative;
  padding: 4px 0;
}

.nav ul li a::before {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.5s transform ease;
  transform: scale3d(0, 1, 1);
  background: var(--main-color);
  transform-origin: 50% 50%;
}

.nav ul li a:hover::before {
  transform: scale3d(1, 1, 1);
}
  
.top-bar nav ul li a:hover {
  padding-bottom: 25px;
  border-bottom: 2px solid #fff;
}

.top-bar.shadow {
  box-shadow: var(--tw-shadow);
}

.nav ul li a::before {

}

.nav.sombra {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1) !important;
  background-color: var(--main-color);
  transition: background-color 0.4s ease-in;
}

.nav.sombra ul li a {
  color: var(--text-light);
}

.nav.sombra ul li a::before {
  background: var(--background-light);
}

.nav ul ul {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  padding: 0;
  margin: 0;
  background-color: var(--main-color);
  box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.1);
}

.checkbox {
  display: none;
}

.nav ul li:hover ul {
  display: block;
}

.nav ul ul li {
  width: 120px;
  float: none;
  display: list-item;
  position: relative;
}

.nav ul ul li a {
  color: var(--text-light);
}

.nav ul ul li a::before {
  background: var(--background-light);
}

.nav.sombra ul ul,
.nav.sombra ul ul li a {
  color: var(--main-color);
  background-color: var(--background-light);
}

.nav.sombra ul ul li a::before {
  background: var(--main-color);
}

#sobre {
  position: relative;
  background-color: var(--background-light);
  height: 450px;
  overflow: auto;
}

#sobre .container {
  margin-top: 10rem;
}

.wave-separador {
  position: absolute;

  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave-separador svg {
  position: relative;
  display: block;
  width: calc(170% + 1.4px);
  height: 175px;
}

.wave-separador,
.shape-fill {
  fill: var(--main-color);
}

footer {
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--main-color);
  width: 150px;
  z-index: 1;
  top: 100%;
  right: 0;
  border-radius: 0px 0px 10px 10px;
  background-color: var(--dropdown-background);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
}

footer .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer .colunas {
  padding: 25px;
  margin: auto;
}

footer .colunas .sociais-links {
  font-size: 25px;
  color: var(--text-light);
}

footer .colunas .infos a,
footer .colunas .sociais-links a {
  color: inherit;
  margin-right: 8px;
  margin-left: 8px;
  text-decoration: none;
  
.dropdown-conteudo li a {
  display: block;
  padding: 10px !important;
  border-bottom: 0 !important;
}

footer .colunas .infos a:hover,
footer .colunas .sociais-links a:hover {
  color: #282828;
}

footer .colunas .infos {
  font: bold;
  font-size: 17px;
  color: var(--text-light);
}

footer .copyright {
  padding: 5px;
  font-size: 15px;
  color: #242424;
  text-align: center;
}

.footer-separador {
  margin-bottom: 0;
  line-height: 0;
  width: 100%;
  height: 3.5vw;
  rotate: 180deg;
  background: url('/src/assets/img/background/footer.svg') no-repeat center center;
  background-size: cover;
}

.circular-menu {
  position: fixed;
  left: 0.5em;
  bottom: 0.5em;
  z-index: 1;
}

.circular-menu .btn {
  display: block;
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  background-color: var(--main-color);
  box-shadow: 0 2px 5px 0 hsla(0, 0%, 0%, .26);
  color: var(--text-light);
  text-align: center;
  line-height: 3.9;
  cursor: pointer;
  outline: 0;
}


.circular-menu.ativo .btn {
  box-shadow: inset 0 0 3px hsla(0, 0%, 0%, .3);
}

.circular-menu .btn i {
  font-size: 1.3em;
  transition: transform .2s;
}

.circular-menu.ativo .btn i {
  transform: rotate(90deg);
}

.circular-menu:after {
  display: block;
  content: ' ';
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
 }
  
/* Estilo da Seção Sobre */
.section {
  padding: 40px 0;
}

.intro-text {
  text-align: center;
  margin-bottom: 30px;
}

.intro-text h2 {
  font-size: 2rem;
  color: var(--text-color-dark);
  margin-bottom: 10px;
}

.intro-text p {
  color: var(--text-color-dark);
  font-size: 1rem;
  max-width: 800px;
  margin: 0 auto;
}

.sobre-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.text-content {
  flex: 1;
  max-width: 50%;
  margin-right: 20px;
}

.text-content h2 {
  font-size: 2rem;
  color: var(--text-color-light);
  margin-bottom: 0.5em;
}

.text-content p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: var( --text-color-light);
  margin-bottom: 1.5em;
}

.funcionalidades {
  margin-top: 10em;
  margin-left: 2em;
}

.funcionalidades h3 {
  font-size: 1.25rem;
  color: var(--text-color-light);
  margin-bottom: 1em;
}

.funcionalidades ul {
  list-style: disc;
  padding-left: 20px;
}

.funcionalidades li {
  font-size: 1rem;
  color: var(--text-color-light);
  margin-bottom: 0.5em;
}

/* Estilo das Imagens */
.image-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
  height: auto;
  max-width: 100%;
}

.image-large-wrapper,
.image-small-wrapper {
  display: flex;
  justify-content: flex-start;
}

.image-large-wrapper {
  margin-left: 20px;
}

.image-small-wrapper {
  position: relative;
}

.image-large {
  width: 100%;
  max-width: 600px;
  border: 5px solid var(--main-color);
  border-radius: 20px;
}

.image-small {
  width: 100%;
  max-width: 400px;
  border: 5px solid var(--main-color);
  border-radius: 20px;
  cursor: pointer;
}

.image-small-wrapper:hover .small-image-description {
  opacity: 1;
  transform: translateY(0);
}

/* Separadores */
.separator-triangle {
  width: 100%;
  height: 50px;
  background: var(--main-color);
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
}

.separator-down {
  width: 100%;
  height: 50px;
  background: var(--main-color);
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Estilo do Modal */
.modal {
  display: none; 
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  max-width: 80%;
  max-height: 80%;
  margin: auto;
  display: block;
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  color: #fff;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #f1f1f1;
  text-decoration: none;
  cursor: pointer;
}

#footer {
  background-color: var(--main-color);
  transition: all .3s ease;
}

.circular-menu.ativo:after {
  transform: scale3d(5.5, 5.5, 1);
  transition-timing-function: cubic-bezier(.68, 1.55, .265, 1);
}

.circular-menu .items-menu {
  padding: 0;
  margin: 0;
}

.circular-menu .menu-item {
  position: absolute;
  top: .2em;
  right: .2em;
  z-index: -1;
  display: block;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  font-size: 1em;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  text-align: center;
  line-height: 3;
  background-color: var(--main-color);
  transition: transform .3s ease, background .2s ease;
}

.circular-menu.ativo .menu-item {
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: 0 2px 5px 0 hsla(0, 0%, 0%, .26);
}

.circular-menu .btn:after {
  background-color: hsl(217, 89%, 61%);
}

.circular-menu.ativo .menu-item:nth-child(1) {
  transform: translate3d(-1em, -7em, 0);
}

.circular-menu.ativo .menu-item:nth-child(2) {
  transform: translate3d(3.5em, -6.3em, 0);
}

.circular-menu.ativo .menu-item:nth-child(3) {
  transform: translate3d(6.5em, -3.2em, 0);
}


.circular-menu.ativo .menu-item:nth-child(4) {
  transform: translate3d(7em, 1em, 0);
}

.footer-divisoes p {
  font-size: 14px;
  line-height: 1.6;
  color: var(--text-color);
}

.button-accessibility {
  background-color: var(--accessibility-background-color);
  border: 0.06em black solid;
  cursor: pointer;
  border-radius: 0.2em;
  position: fixed;
  margin: auto;
  right: 1em;
  z-index: 5;
  padding: 9px 14px;
}

.button-accessibility:hover {
  background-color: var(--main-color);
  border: var(--main-color);
}

.button-accessibility:active {
  background-color: var(--main-color);
  transform: translateY(0.01em);
  position: fixed;
}

.image-button {
  width: 130%;
  height: 130%;
}

.button-theme {
  background-color: transparent;
  border: none;
  border-style: none;
  cursor: pointer;
}

.image-button-moon {
  width: 100%;
  height: 100%;
}

.member-scrum {
  background-color: var(--main-color);
  padding: 15px;
}

@media (max-width: 768px) {
  .sobre-content {
    flex-direction: column;
  }

  .text-content, .image-content {
    max-width: 100%;
    margin: 0;
  }

  .funcionalidades {
    margin-top: 2em;
    margin-left: 0;
  }

  .image-large-wrapper {
    margin-left: 0;
  }
}

