:root {
  --background-light: #fdf7f9;
  --background-dark: #232323;
  --main-color: #F2598C;
  --text-color-light: #232323;
  --text-color-dark: #fdf7f9;

  --tw-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1) !important;
}
