@media (max-width: 770px) {
    main {
        margin-left: 0;
        transition: margin-left 0.3s ease;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    .card,
    .planos.conteudo {
        margin: auto;
    }

    .navigation.active {
        display: flex;
    }

    .planos.conteudo {
        justify-content: flex-start;
        gap: 16px;
        padding: 0 64px 0 20px;
        margin-bottom: 24px;
    }

    #plano-premium {
        display: none;
    }

    #btn-plano {
        margin-top: 25px;
        margin-left: auto;
        margin-right: 45%;
        margin-bottom: 25px;
        width: 150px;
        display: flex;
        justify-content: center;
        /* Adicionado para centralizar o texto horizontalmente */
        align-items: center;
        /* Adicionado para centralizar o texto verticalmente */
        cursor: pointer;
        border: 0;
        border-bottom: 2.5px solid var(--main-color);
        background: transparent;
        padding: 10px;
        opacity: 1;
        transition: opacity 0.5s ease-in-out;
    }
}