@media (max-width: 770px) {
    main {
        margin-left: 0;
        transition: margin-left 0.3s ease;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    .card {
        margin: auto;
    }

    .navigation.active {
        display: flex;
    }

    #plano-premium {
        display: none;
    }

    #btn-plano {
        margin: 25px auto 0 auto;
        width: 150px;
        display: flex;
        font-size: large;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: 0;
        border-bottom: 2.5px solid var(--main-color);
        background: transparent;
        padding: 10px;
        opacity: 1;
        transition: opacity 0.5s ease-in-out;
    }

    footer .colunas .sociais-links {
        font-size: 27px;
    }
}