@import url(root.css);
@import url(/src/app/pages/index/index.js);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  text-align: center;
  background-color: var(--main-color);
  padding: 10px;
}

body {
  background-color: var(--background-light);
  font-family: Arial, sans-serif;
}

p {
  display: block;
  margin-block-start: 0.5em;
  margin-block-end: 1px;
  color: var(--text-color-light);
}

ul li a {
  color: var(--text-color-dark);
  text-decoration: none;
}

main {
  margin-top: 25px;
  padding: 0px 0px 0px 25px;
}

.top-bar {
  background-color: var(--main-color);
  padding: 30px;
  width: 100%;
  position: sticky;
  top: 0;
}
.top-bar .container {
  display: flex;
  justify-content: space-between;
}

.top-bar .logo {
  font-size: 1.6rem;
  font-weight: bold;
}

.top-bar nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.top-bar nav ul li {
  display: inline-block;
  padding: 0px 5px;
}

.top-bar nav ul li a {
  font-size: large;
}

.top-bar nav ul li a:hover {
  color: var(--text-color-dark);
  transition: color 0.1s ease-in;
  border-bottom: 2px solid #f5f5f5; /* Linha abaixo do link */
  padding: 0px 0px 2.5px 0px; /* Espaçamento entre a linha e o texto */
}

.top-bar.shadow {
  box-shadow: 0 5px 6px -1px rgba(0, 0, 0, 0.2),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  color: #fff;
  font-size: 1.5em;
  cursor: pointer;
}

.navigation {
  display: flex;
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navigation li {
  margin: 0 15px;
}

.navigation a {
  font-size: 1em;
}

.dropdown-botao {
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  outline: none;
}

.dropdown-conteudo {
  display: none;
  /* Escondido por padrão */
  position: absolute;
  background-color: var(--main-color);
  min-width: 100px;
  z-index: 1;
  border-radius: 5px;
}

.dropdown-conteudo a {
  padding: 12px 16px;
  display: block;
}

.dropdown-conteudo ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
}

.dropdown-conteudo li {
  display: block;
}

.dropdown-conteudo.show {
  display: block;
}

.redes-sociais {
  text-align: left;
}

@media (max-width: 768px) {
  main {
    margin-left: 0;
    transition: margin-left 0.3s ease;
  }
  .top-bar {
    left: 0;
  }

  .top-bar .logo {
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .top-bar nav {
    display: none;
  }

  .top-bar nav ul li a:hover {
    border-bottom: 2px solid #f5f5f5; /* Linha abaixo do link */
    padding: 0px 0px 2.5px 0px; /* 2.5 Espaçamento entre a linha e o texto*/
  }

  .navigation {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 6.5rem;
    right: 0px;
    background-color: var(--main-color);
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.4s ease;
  }

  .navigation ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .navigation.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }
}
